<h1>whassup bitches??</h1>
<h2>Check these pics out.</h2>

<%= button_to 'Make a new pic', new_photo_path, :method => :get %>

<h3>Photos</h3>

<% @photos.order('created_at DESC').each do |p| %>
  <div>
    <p><strong><%= p.title %></strong> | <%= p.author %></p>
    <%= link_to( image_tag(p.url), photo_path(p) ) %>
  </div>
<% end %>